/* Estilos generales */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #18467A;
}

header {
    background-color: #001F3F;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    font-size: 14px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    /* Estilos específicos para el catálogo */
}

/* Estilos para los productos */




.formulario {
    background-color: #001F3F;
    color: #fff;
    padding: 20px;
    /* Estilos específicos para el formulario */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
}

button {
    background-color: #4e5253;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #001F3F;
}

footer {
    background-color: #001F3F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}